.nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.nav__avatar-container {
  width: 120px;
  flex-shrink: 0;
}

.nav__avatar-position {
  margin-right: 30px;
}

.nav__avatar {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.nav__container {
  max-width: 500px;
  display: flex;
  gap: 8px;
}

.nav__name-edit {
  max-width: 100%;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  justify-content: start;
  align-items: first baseline;
}

.nav__name {
  max-width: 100%;
  font-weight: 500;
  font-family: 'Oddval';
  font-size: 42px;
  line-height: calc(48/42);
  margin: 0 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav__job-title {
  width: 100%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__button-edit {
  width: 24px;
  height: 24px;
  background-image: url(../images/edit-button.svg);
}

.nav__button-add {
  margin-left: auto;
  min-width: 75px;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-image: url(../images/add_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 879px) {
  .nav {
    padding: 0 24px;
  }
  .nav {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
  }

  .nav__avatar-position {
    margin: 0;
  }

  .nav__container {
    max-width: 95%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

  .nav__name {
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
  }

  .nav__button-add {
    min-width: 282px;
    max-width: 633px;
    margin-left: 0;
    margin-top: 20px;
  }

  .nav__name-edit {
      align-items: center;
      margin-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .nav__name {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {

}
